/.idea/
/target/
/legacy.yaml
/ci-deploy
/.sonar`
/.scannerwork
.vs/
.DS_Store
tmp/
w3-presets-data/
*.xlsx
*.qtpl.go
.idea
__pycache__/
*.ckpt
*.pth
venv
electron_cache/
target/
.werf_secret_key
.helm/Chart.lock
.helm/charts
/.env
keys/
.task/
.zap/
.gortex/
cover.out
/build/
/dist/
/proto-docs/
/pb-md5-generator
